@using System.Threading
@using WeddingWebsite.Models.ConfigInterfaces

@inject IStringProvider StringProvider

<div class="container">
    <DatePart Label="@StringProvider.Month" Value="@Months"/><BigColon/>
    <DatePart Label="@StringProvider.Week" Value="@Weeks"/><BigColon/>
    <DatePart Label="@StringProvider.Day" Value="@Days"/><BigColon/>
    <DatePart Label="@StringProvider.Hour" Value="@Hours"/><BigColon/>
    <DatePart Label="@StringProvider.Minute" Value="@Minutes"/>
    @if (ShowSeconds) {
        <BigColon/>
        <DatePart Label="@StringProvider.Second" Value="@Seconds"/>
    }
</div>

@code {
    [Parameter]
    public required DateTime CountdownTo { get; set; }
    
    /// <summary>
    /// Warning: This component renders server-side. Enabling seconds will generate 2 HTTP requests every second.
    /// On imperfect connections, the timer is visibly laggy. Use <see cref="CountdownToDate"/> for client-side
    /// rendering with JavaScript.
    /// </summary>
    [Parameter]
    public bool ShowSeconds { get; set; } = false;
    
    private int Months { get; set; }
    private int Weeks { get; set; }
    private int Days { get; set; }
    private int Hours { get; set; }
    private int Minutes { get; set; }
    private int Seconds { get ; set; }
    
    private void OnTimeChange() {
        var months = 0;
        var currentDate = DateTime.Now;
        
        while (currentDate.AddMonths(1) < CountdownTo) {
            currentDate = currentDate.AddMonths(1);
            months++;
        }
        Months = months;
        
        var timeSpan = CountdownTo - currentDate;
        
        Weeks = (int) Math.Floor((double) timeSpan.Days / 7);
        Days = timeSpan.Days % 7;
        Hours = timeSpan.Hours;
        Minutes = timeSpan.Minutes;
        Seconds = timeSpan.Seconds; 
    }
    
    // Logic to update the timer each second:
    
    PeriodicTimer? periodicTimer;

    protected override async Task OnInitializedAsync()
    {
        periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(ShowSeconds ? 1 : 60));
        OnTimeChange();
        await RunTimer(); 
    }

    async Task RunTimer()
    {
        if (periodicTimer == null) return;
        while (await periodicTimer.WaitForNextTickAsync()) 
        { 
            OnTimeChange();
            await InvokeAsync(StateHasChanged);
        }    
    }

    public void Dispose()
    {
        periodicTimer?.Dispose();
    }
}