@using WeddingWebsite.Components.Interactivity
@using WeddingWebsite.Models.ConfigInterfaces

@inject IStringProvider StringProvider

<div class="container">
    <DatePart Label="@StringProvider.Month" Value="Months"/><BigColon/>
    <DatePart Label="@StringProvider.Week" Value="Weeks"/><BigColon/>
    <DatePart Label="@StringProvider.Day" Value="Days"/><BigColon/>
    <DatePart Label="@StringProvider.Hour" Value="Hours"/><BigColon/>
    <DatePart Label="@StringProvider.Minute" Value="Minutes"/><BigColon/>
    <DatePart Label="@StringProvider.Second" Value="Seconds"/>
</div>

<div id="countdown-date" style="display: none">@CountdownTo.ToString("yyyy-MM-ddTHH:mm:ss")</div>

<PageScript Src="./Components/Elements/Countdown/CountdownToDate.razor.js" />

@code {
    [Parameter]
    public required DateTime CountdownTo { get; set; }
    
    // Only used in first time render
    
    private int Months { get; set; }
    private int Weeks { get; set; }
    private int Days { get; set; }
    private int Hours { get; set; }
    private int Minutes { get; set; }
    private int Seconds { get ; set; }
    
    private void OnTimeChange() {
        var months = 0;
        var currentDate = DateTime.Now;
        
        while (currentDate.AddMonths(1) < CountdownTo) {
            currentDate = currentDate.AddMonths(1);
            months++;
        }
        Months = months;
        
        var timeSpan = CountdownTo - currentDate;
        
        Weeks = (int) Math.Floor((double) timeSpan.Days / 7);
        Days = timeSpan.Days % 7;
        Hours = timeSpan.Hours;
        Minutes = timeSpan.Minutes;
        Seconds = timeSpan.Seconds; 
    }

    protected override void OnInitialized() {
        OnTimeChange();
    }
}