@page "/Gallery"

@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.ConfigInterfaces

@inject IWeddingDetails WeddingDetails
@inject IStringProvider StringProvider

<PageTitle>@StringProvider.Gallery</PageTitle>

<div style="margin-top: 50px;"></div>

<Section>
    <SectionHeading>@StringProvider.Gallery</SectionHeading>

    @foreach (var sect in WeddingDetails.Gallery.Sections)
    {
        <h2>@sect.Title</h2>
        <p>@sect.Description</p>
        <div class="gallery-images">
            @foreach (var img in sect.Items)
            {
                @* TODO: Use size attribute properly, not just style="grid-column: span @img.Size" *@
                <img class="gallery-image" src="@img.Image.Url" alt="@img.Image.AltText" />
            }
        </div>
    
    }
</Section>


@code {
    
}
