@page "/"

@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.Elements.Countdown
@using WeddingWebsite.Components.WeddingSections
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WeddingDetails
@using Section = WeddingWebsite.Models.WebsiteConfig.Section

@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<div class="main-image-content">
    <h1 class="bride-and-groom-names" style="color: @Config.Colours.PrimaryBackground"><span class="groom-name">@WeddingDetails.Groom.Name.First</span> & <span class="bride-name">@WeddingDetails.Bride.Name.First</span></h1>
    <h2 class="wedding-date">@WeddingDetails.WeddingDate.ToShortDateString().Replace('/', '.')</h2>
    @if (!Config.Sections.Any(sect => sect is Section.Countdown)) {
        <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.Colours.Primary, new BoxStyle(BoxType.FilledRounded, new SectionTheme(Config.Colours.PrimaryBackground, Config.Colours.Primary, null))))">
            <CountdownToDate CountdownTo="@WeddingDetails.WeddingDate.ToDateTime(WeddingDetails.Events.FirstOrDefault()?.Start ?? TimeOnly.Parse("13:00"))"/>
        </CascadingValue>
    }
    <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.TopButtons.Colour ?? Config.Colours.Secondary, null))">
        <div class="top-buttons">
            @code {
                string buttonSpacing = "10px";
            }
            <span style="margin-left: @buttonSpacing"></span>
            @foreach (var button in Config.TopButtons.Buttons)
            {
                <LinkButton Data="button"/>
                <span style="margin-left: @buttonSpacing"></span>
            }
        </div>
    </CascadingValue>
</div>


<ValidationSection/>

@foreach (var sect in Config.Sections) {
    <CascadingValue Value="sect.Theme">
        @if (sect is Section.Countdown) { <CountdownSection/> }
        @if (sect is Section.Timeline timeline) { <TimelineSection ShowHeading="timeline.ShowHeading"/> }
        @if (sect is Section.MeetWeddingParty party) { <MeetWeddingPartySection DisplayMode="party.DisplayMode" RolesLeft="party.RolesLeft" RolesRight="party.RolesRight"/> }
        @if (sect is Section.Contact contact) { <ContactSection ReasonsToShow="contact.ReasonsToShow" ShowUrgencyOption="contact.ShowUrgencyOption"/> }
        @if (sect is Section.DressCode dress) { <DressCodeSection WrapInBox="dress.WrapInBox" ShowContact="dress.ShowContact"/> }
    </CascadingValue>
}

@if (Config.Sections.Any()) {
    <div class="bottom-spacer" style="background: @(Config.Sections.LastOrDefault()?.Theme?.Background ?? Config.Colours.Surface)"></div>
}


@code {

}
