@page "/"
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<h1 class="bride-and-groom-names">@WeddingDetails.Groom.FirstName and @WeddingDetails.Bride.FirstName</h1>

<h2 class="wedding-date">@WeddingDetails.WeddingDate.DayOfWeek.ToString() @WeddingDetails.WeddingDate.ToLongDateString()</h2>

<div style="background-color: var(--secondary-background);">
<Section>
    <WeddingTimeline/>
</Section>
</div>

<CenteredSection>
    <h2>Contact Details</h2>
    <ContactList Contacts="@WeddingDetails.Contacts"/>
</CenteredSection>

<div class="bottom-spacer"></div>


@code {

    string? lastFinishTime;
    
    protected override void OnInitialized()
    {
        lastFinishTime = WeddingDetails.Events.Last().End?.ToShortTimeString();
    }

}
