@page "/"
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<h1 class="bride-and-groom-names">@WeddingDetails.Groom.FirstName and @WeddingDetails.Bride.FirstName</h1>

<h2 class="wedding-date">@WeddingDetails.WeddingDate.DayOfWeek.ToString() @WeddingDetails.WeddingDate.ToLongDateString()</h2>

<TwoBoxes>
    <Box1>
        <WeddingVenue Venue="@WeddingDetails.CeremonyVenue" VenueType="Ceremony"/>
    </Box1>
    <Box2>
        <WeddingVenue Venue="@WeddingDetails.ReceptionVenue" VenueType="Reception"/>
    </Box2>
</TwoBoxes>

<CenteredSection>
    <h2>Accommodation</h2>
    @if(lastFinishTime != null) {<p>The final event is scheduled to finish at @lastFinishTime. If you would like to attend the whole event, we suggest booking nearby accommodation. However, this is not required and you are more than welcome to leave early if you have not booked accommodation.</p>}
    @else {<p>If you would like to book accommodation, we would suggest the following options:</p>}
</CenteredSection>

<p>We recommend you book accommodation at @WeddingDetails.AccommodationDetails.RecommendedHotel?.Name. Other options are available.</p>

@code {

    string? lastFinishTime;
    
    protected override void OnInitialized()
    {
        lastFinishTime = WeddingDetails.Events.Last().End?.ToShortTimeString();
    }

}
