@page "/"
@using WeddingWebsite.Client.Components
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Layout
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<h1 class="bride-and-groom-names">@WeddingDetails.Groom.Name.First and @WeddingDetails.Bride.Name.First</h1>

<h2 class="wedding-date">@WeddingDetails.WeddingDate.DayOfWeek.ToString() @WeddingDetails.WeddingDate.ToLongDateString()</h2>

<CenteredSection>
    <CountdownToDate CountdownTo="@WeddingDetails.WeddingDate.ToDateTime(WeddingDetails.Events.FirstOrDefault()?.Start ?? TimeOnly.Parse("13:00"))"/>
</CenteredSection>

<CenteredSection>
    <h2>Meet the Wedding Party</h2>
    <ExpandableContent>
        <SideBySide>
            <LeftContent>
                <FlexRight>
                    <MeetWeddingParty People="@WeddingDetails.NotablePeople.Where(p => Config.IntroductionRolesGroom.Contains(p.Role))"/>
                </FlexRight>
            </LeftContent>
            <RightContent>
                <MeetWeddingParty People="@WeddingDetails.NotablePeople.Where(p => Config.IntroductionRolesBride.Contains(p.Role))"/>
            </RightContent>
        </SideBySide>
    </ExpandableContent>
</CenteredSection>

<div style="background-color: var(--secondary-background);">
<SectionNoPadding>
    <WeddingTimeline/>
</SectionNoPadding>
</div>

<CenteredSection>
    <h2>Contact Details</h2>
    <ContactList Contacts="@WeddingDetails.Contacts"/>
</CenteredSection>

<div class="bottom-spacer"></div>


@code {

}
