@page "/"
@using WeddingWebsite.Client.Components
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Components.WeddingSections
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.Validation
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WeddingDetails
@using Section = WeddingWebsite.Models.WebsiteConfig.Section

@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config
@inject IWebHostEnvironment Environment
@inject IDetailsAndConfigValidator Validator

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<div class="main-image-content">
    <h1 class="bride-and-groom-names">@WeddingDetails.Groom.Name.First & @WeddingDetails.Bride.Name.First</h1>
    <h2 class="wedding-date">@WeddingDetails.WeddingDate.DayOfWeek.ToString() @WeddingDetails.WeddingDate.ToLongDateString()</h2>
    @if (!Config.Sections.Any(sect => sect is Section.Countdown)) {
        <CascadingValue Value="@(new SectionTheme(Colour.DarkGrey, Config.Colours.Primary, new BoxStyle(BoxType.Filled, new SectionTheme(Config.Colours.PrimaryBackground, Config.Colours.Primary, null))))">
            <CountdownToDate CountdownTo="@WeddingDetails.WeddingDate.ToDateTime(WeddingDetails.Events.FirstOrDefault()?.Start ?? TimeOnly.Parse("13:00"))"/>
        </CascadingValue>
    }
</div>


@if (Environment.IsDevelopment()) {
    <Section Center="true" Padding="false" Background="red">
        <ValidationIssuesList Issues="@Validator.Validate(WeddingDetails, Config)" />
    </Section>
}

@foreach (var sect in Config.Sections) {
    <CascadingValue Value="sect.Theme">
        @if (sect is Section.Countdown) { <CountdownSection/> }
        @if (sect is Section.Timeline) { <TimelineSection/> }
        @if (sect is Section.MeetWeddingParty party) { <MeetWeddingPartySection DisplayMode="party.DisplayMode" RolesLeft="party.RolesLeft" RolesRight="party.RolesRight"/> }
        @if (sect is Section.Contact contact) { <ContactSection ReasonsToShow="contact.ReasonsToShow" ShowUrgencyOption="contact.ShowUrgencyOption"/> }
    </CascadingValue>
}

@if (Config.Sections.Any()) {
    <div class="bottom-spacer" style="background: @Config.Sections.Last().Theme.Background"></div>
}


@code {

}
