@page "/"
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<h1 class="bride-and-groom-names">@WeddingDetails.Groom.FirstName and @WeddingDetails.Bride.FirstName</h1>

<h2 class="wedding-date">@WeddingDetails.WeddingDate.DayOfWeek.ToString() @WeddingDetails.WeddingDate.ToLongDateString()</h2>

<TwoBoxes>
    <Box1>
        <WeddingVenue Venue="@WeddingDetails.CeremonyVenue" VenueType="Ceremony"/>
    </Box1>
    <Box2>
        <WeddingVenue Venue="@WeddingDetails.ReceptionVenue" VenueType="Reception"/>
    </Box2>
</TwoBoxes>

<h1>Welcome! This is a test page.</h1>

<p>The wedding is between @WeddingDetails.Groom.FirstName and @WeddingDetails.Bride.FirstName on @WeddingDetails.WeddingDate.ToString().</p>

<p>The ceremony will take place at @WeddingDetails.CeremonyVenue.Name and the reception will be at @WeddingDetails.ReceptionVenue.Name.</p>

<p>We recommend you book accommodation at @WeddingDetails.AccommodationDetails.RecommendedHotel?.Name. Other options are available.</p>