@page "/"
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<h1>Welcome! This is a test page.</h1>

<p>The wedding is between @WeddingDetails.Groom.FirstName and @WeddingDetails.Bride.FirstName on @WeddingDetails.WeddingDate.ToString().</p>

<p>The ceremony will take place at @WeddingDetails.CeremonyVenue.Name and the reception will be at @WeddingDetails.ReceptionVenue.Name.</p>

<p>We recommend you book accommodation at @WeddingDetails.AccommodationDetails.RecommendedHotel?.Name. Other options are available.</p>