@page "/"
@using WeddingWebsite.Client.Components
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Components.WeddingSections
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.Validation
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config
@inject IWebHostEnvironment Environment
@inject IDetailsAndConfigValidator Validator

<PageTitle>Home</PageTitle>

@((MarkupString)@WeddingDetails.MainImage.GetHtml("main-image"))

<h1 class="bride-and-groom-names">@WeddingDetails.Groom.Name.First and @WeddingDetails.Bride.Name.First</h1>

<h2 class="wedding-date">@WeddingDetails.WeddingDate.DayOfWeek.ToString() @WeddingDetails.WeddingDate.ToLongDateString()</h2>

@if (Environment.IsDevelopment()) {
    <Section Center="true" Padding="false" Background="red">
        <ValidationIssuesList Issues="@Validator.Validate(WeddingDetails, Config)" />
    </Section>
}

@foreach (var sect in Config.Sections) {
    <CascadingValue Value="sect.Theme">
        @if (sect.Type == SectionType.Countdown) { <CountdownSection/> }
        @if (sect.Type == SectionType.Timeline) { <TimelineSection/> }
        @if (sect.Type == SectionType.MeetWeddingParty) { <MeetWeddingPartySection/> }
        @if (sect.Type == SectionType.Contact) { <ContactSection/> }
    </CascadingValue>
}

<div class="bottom-spacer"></div>


@code {

}
