@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Models.Gallery
@using WeddingWebsite.Models.WeddingDetails

@inject IWeddingDetails WeddingDetails

@if (!WeddingDetails.Gallery.Favourites.Any()) return;

<Section>
    <SectionHeading>Gallery</SectionHeading>
    <MudCarousel TData="BigGalleryItem" ItemsSource="WeddingDetails.Gallery.Favourites" Style="@CarouselCss" AutoCycle="true" ShowArrows="true" @bind-SelectedIndex="CurrentIndex" EnableSwipeGesture="false">
        <ItemTemplate>
            <div class="carousel-item">
                <img src="@context.Image.Url" alt="@context.Image.AltText"/>
                @if (context.Title != "")
                {
                    <p class="title carousel-overlay-text">@context.Title</p>
                }
                @if (context.Description != "")
                {
                    <p class="description carousel-overlay-text">@context.Description</p>
                }
                @if (context.Credit != "")
                {
                    <p class="credit">@context.Credit</p>
                }
            </div>
        </ItemTemplate>
    </MudCarousel>
</Section>

<style>
    .mud-carousel > .mud-carousel-swipe {
        touch-action: auto !important;
    }
</style>

@code {
    private string CarouselHeight => WeddingDetails.Gallery.Favourites.Any() ? "600px" : "0px";
    private string CarouselCss => $"height: {CarouselHeight}; max-height: 100vw;";
    
    private int CurrentIndex { get; set; } = 0;
    private BigGalleryItem? CurrentItem => WeddingDetails.Gallery.Favourites.ElementAtOrDefault(CurrentIndex);
}