@page "/account/login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Core
@using WeddingWebsite.Data
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.Theme
@using WeddingWebsite.Models.WebsiteConfig
@using WeddingWebsite.Models.WeddingDetails
@using WeddingWebsite.Services

@inject SignInManager<Account> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject IWeddingDetails WeddingDetails
@inject IWebsiteConfig Config

@attribute [AllowAnonymous]

<PageTitle>Log in</PageTitle>

<img class="background-image" src="@WeddingDetails.MainImage.Url" alt="@WeddingDetails.MainImage.AltText"/>

<div class="container">
    <CascadingValue Value="ModalTheme">
        <Box>
            <h1>Log in</h1>
            <p>@errorMessage</p>
            @if (Config.DemoMode is DemoMode.Enabled c)
            {
                @foreach (var message in c.LoginMessage)
                {
                    <p>@message</p>
                }
            }
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator/>
                <hr/>
                <div class="form-input">
                    <label for="username" class="form-label">Username</label>
                    <InputText @bind-Value="Input.Username" class="login-input" autocomplete="username" aria-required="true" placeholder="@Config.LoginConfig.UserNamePlaceholder" id="username"/>
                </div>
                @* <ValidationMessage For="() => Input.Email" class="validation-message text-danger"/> *@
                <div class="form-input">
                    <label for="password" class="form-label">Password</label>
                    <InputText type="password" @bind-Value="Input.Password" class="login-input" autocomplete="current-password" aria-required="true" placeholder="password" id="password"/>
                </div>
                @* <ValidationMessage For="() => Input.Password" class="validation-message text-danger"/> *@
                <div class="form-input">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="form-check-input"/>
                        Remember me
                    </label>
                </div>
                <div class="validation-container">
                    <ValidationSummary class="text-danger" role="alert"/>
                </div>
                <div>
                    <button type="submit" style="background: @ModalTheme.Primary">Log in</button>
                </div>
                <p>Forgot your password? Contact @(WeddingDetails.LoginContactMethod?.Text ?? "one of the organisers").</p>
                @* <div> *@
                @*     <p> *@
                @*         <a href="Account/ForgotPassword">Forgot your password?</a> *@
                @*     </p> *@
                @*     <p> *@
                @*         <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a> *@
                @*     </p> *@
                @*     <p> *@
                @*         <a href="Account/ResendEmailConfirmation">Resend email confirmation</a> *@
                @*     </p> *@
                @* </div> *@
            </EditForm>
        </Box>
    </CascadingValue>
</div>

@code {
    private string? errorMessage;

    private SectionTheme ModalTheme => Config.LoginConfig.Theme ?? new(Colour.DarkGrey, Config.Colours.Primary, new BoxStyle(BoxType.FilledRounded, new SectionTheme(Colour.White, Config.Colours.Primary, null)));

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
    
    [Inject]
    private IAccountService? AccountService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        var result = await SignInManager.PasswordSignInAsync(Input.Username, Input.Password, Input.RememberMe, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            Logger.LogInformation($"User logged in: {Input.Username}.");
            if (AccountService is not null)
            {
                AccountService.Log(Input.Username, AccountLogType.LogIn, "User logged in");
            }
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else
        {
            errorMessage = "Error: Invalid login attempt.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        public string Username { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
