@using WeddingWebsite.Models.People

<h3>@Dress.Title</h3>
@foreach (var sect in Dress.Content) {
    if (sect.Heading != null) {
        <p><b>@sect.Heading: </b>@sect.CollapseContent()</p>
    }
    else {
        <p>@sect.CollapseContent()</p>
    }
}
@if (Contact != null)
{
    <p>Questions? Contact @Contact.NameAndRole on @Contact.ContactDetails.GetAllOptions().FirstOrDefault()?.Text.</p>
}

@code {
    [Parameter]
    public required Models.DressCode Dress { get; set; }
    
    [Parameter]
    public IContact? Contact { get; set; }
}