@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.People

@inject IStringProvider StringProvider

<h3>@Dress.Title</h3>
@foreach (var sect in Dress.Content) {
    if (sect.Heading != null) {
        <p><b>@sect.Heading: </b>@sect.CollapseContent()</p>
    }
    else {
        <p>@sect.CollapseContent()</p>
    }
}
@if (Contact != null)
{
    <p>@StringProvider.DressCodeQuestions(Contact.NameAndRole,Contact.ContactDetails.GetAllOptions().FirstOrDefault()?.Text)</p>
}

@code {
    [Parameter]
    public required Models.DressCode Dress { get; set; }
    
    [Parameter]
    public IContact? Contact { get; set; }
}