@using WeddingWebsite.Core
@using WeddingWebsite.Models.People
@using WeddingWebsite.Models.WebsiteElement

<div>
    @foreach (var person in People) {
        <div class="container">
            <MudChat ChatPosition="@ChatPosition">
                <MudAvatar>
                    @if (person.Media is WebsiteImage) {
                        <MudImage Src="@(((WebsiteImage)person.Media).Url)" />
                    }
                </MudAvatar>
                <MudChatHeader Name="@person.Name.Full" Time="@person.Role.GetEnumDescription()"/>
                @foreach (var sect in person.Content) {
                    <MudChatBubble>
                        @if (sect.Heading == null) {
                            <p>@sect.CollapseContent()</p>
                        }
                        else {
                            <p><b>@sect.Heading: </b>@sect.CollapseContent()</p>
                        }
                    </MudChatBubble>
                }
            </MudChat>
        </div>
    }
</div>

@code {
    [Parameter]
    public required IEnumerable<NotablePerson> People { get; set; }
    
    [Parameter]
    public ChatBubblePosition ChatPosition { get; set; } = ChatBubblePosition.Start;
}
