@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Models.WebsiteElement
@using WeddingWebsite.Models.Venues
@using WeddingWebsite.Components.Elements


<Box>
    <TopContent>
        <WebsiteElement Element="Venue.Directions!.CoverImage" Cover="true"></WebsiteElement>
    </TopContent>
    <ChildContent>
        <h3>@Venue.Name</h3>
        <p>@Venue.Directions?.Description</p>
        <h4>Address</h4>
        <p>@Venue.Address</p>
        @foreach (var sect in Venue.Directions!.Content)
        {
            <WebsiteElement Element="sect.Media" MaxHeight="300px"></WebsiteElement>
            <h4>@sect.Heading</h4>
            @foreach (var para in sect.Content)
            {
                <p>@para</p>
            }
        }
        <div class="buttons-container">
            <LinkButton Url="@Venue.Location.GetGoogleMapsLink()" Variant="ButtonVariant.Outlined">Google Maps</LinkButton>
        </div>
        <div style="margin-bottom: 5px"></div>
    </ChildContent>
</Box>
<div style="margin-bottom: 20px"></div>


@code {
    [Parameter]
    public required Venue Venue { get; set; }
}