@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.Venues
@using WeddingWebsite.Components.Dialogs
@using WeddingWebsite.Models.WebsiteElement

<Box>
    <TopContent>
        <WebsiteElement Element="Venue.Media" MaxHeight="300px" Cover="true"></WebsiteElement>
    </TopContent>
    <ChildContent>
        <h3>@Venue.Name</h3>
        <p>@Venue.Description</p>
        <div class="address">
            <MudIcon Icon="@Icons.Material.Filled.LocationOn"/>
            <span>@Venue.Address</span>
        </div>
        @if (TravelDirectionsModal != null)
        {
            <ModalButton Modal="@TravelDirectionsModal"/>
        }
        @foreach (var modal in Venue.Modals) {
            <ModalButton Modal="@modal"/>
        }
    </ChildContent>
</Box>

@code {
    [Parameter]
    public required Venue Venue { get; set; }

    private WeddingModal? TravelDirectionsModal => Venue.Directions == null ? null 
        : new WeddingModal("Travel Directions", Venue.Directions!.Content.Prepend(new WebsiteSection(new WebsiteGoogleMapsEmbed(Venue.Location))));
}