@using System.Security.Claims
@using Org.BouncyCastle.Ocsp
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Data.Models
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.LiftSharing
@using WeddingWebsite.Services

@inject IConfigProvider ConfigProvider
@inject ILiftSharingService LiftSharingService
@inject IAccountService AccountService
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (Config is null)
{
    <p>Loading...</p>
    return;
}

<CascadingValue Value="Config.LiftSharingConfig.Theme">
    <Section>
        <div style="margin-top: 100px;"></div>
        <div class="available-lifts-container">
            @if (OwnLifts.Any())
            {
                <SectionHeading>Offered Lifts</SectionHeading>
                <p class="page-description">Thank you so much for offering a lift, it's really helpful.</p>
                @foreach (var lift in OwnLifts)
                {
                    var url = $"/lifts/{lift.Id}";
                    <Box CustomCss="margin-bottom: 10px">
                        <div class="available-lift-container">
                            <div class="available-lift-description">
                                <p class="lift-heading">@lift.Name</p>
                                @if (SingleOption)
                                {
                                    <p class="lift-description">@(lift.Spaces-lift.AvailableSpaces)/@lift.Spaces spaces filled.</p>
                                }
                                else
                                {
                                    <p class="lift-description">@lift.Start.Location (@lift.Start.Time.ToString("HH:mm")) to @lift.End.Location (@lift.End.Time.ToString("HH:mm"). @lift.AvailableSpaces spaces.</p>
                                }
                            </div>
                            
                            <LinkButton Url="@url">View</LinkButton>
                        </div>
                    </Box>
                }
                @if (OwnLifts.Count() < Config.LiftSharingConfig.MaxLiftOffers)
                {
                    <div class="offer-lift-button-container">
                        <LinkButton Url="/lifts/offer">Offer Another Lift</LinkButton>
                    </div>
                }
            }
            else if (Config.OptionalFeatures.LiftSharingOfferLifts.IsActive())
            {
                @if (!BookedLifts.Any())
                {
                    <SectionHeading>Offer a Lift</SectionHeading>
                    <p class="page-description">If you've got any free spaces in your car, it would be great if you could offer a lift to others.</p>
                    @if (SingleOption)
                    {
                        <div class="journey-details-container">
                            <Box>
                                <h3>Journey Details</h3>
                                <JourneyDetailsTable Journey="Config.LiftSharingConfig.Presets.First()"/>
                                <div class="offer-lift-button-container">
                                    <LinkButton Url="/lifts/offer">Offer a Lift</LinkButton>
                                </div>
                            </Box>
                        </div>
                    }
                    else
                    {
                        <div class="offer-lift-button-container">
                            <LinkButton Url="/lifts/offer">Offer a Lift</LinkButton>
                        </div>
                    }
                }
            }
            
            @if (BookedLifts.Any())
            {
                <SectionHeading>Booked Lifts</SectionHeading>
                <p class="page-description">These are the lifts that you have booked.</p>
                @foreach (var lift in BookedLifts)
                {
                    var url = $"/lifts/{lift.Id}";
                    <Box CustomCss="margin-bottom: 10px">
                        <div class="available-lift-container">
                            <div class="available-lift-description">
                                <p class="lift-heading">@lift.Name</p>
                                @if (SingleOption)
                                {
                                    <p class="lift-description">@(lift.Spaces - lift.AvailableSpaces)/@lift.Spaces spaces filled. You have booked @lift.Bookings.Count(b => b.UserId == UserId) of these spaces.</p>
                                }
                                else
                                {
                                    <p class="lift-description">@lift.Start.Location (@lift.Start.Time.ToString("HH:mm")) to @lift.End.Location (@lift.End.Time.ToString("HH:mm"). @lift.AvailableSpaces spaces.</p>
                                }
                            </div>

                            <LinkButton Url="@url">View</LinkButton>
                        </div>
                    </Box>
                }
                @if (!OwnLifts.Any())
                {
                    <div class="button-container">
                        <LinkButton Url="/lifts/offer">Offer a Lift</LinkButton>
                    </div>
                }
            }

            <SectionHeading>Available Lifts</SectionHeading>
            <p class="page-description">Book one of the lifts that other guests have kindly offered.</p>
            @if (SingleOption && !Config.OptionalFeatures.LiftSharingOfferLifts.IsActive())
            {
                <div class="journey-details-container">
                    <Box>
                        <h3>Journey Details</h3>
                        <JourneyDetailsTable Journey="Config.LiftSharingConfig.Presets.First()"/>
                    </Box>
                </div>
            }
            @if (Config.OptionalFeatures.LiftSharingRequestLifts.IsActive() && Config.LiftSharingConfig.Presets.Count() == 1)
            {
                <Box>
                    <div class="available-lift-container">
                        <div class="available-lift-description">
                            <p class="lift-heading">Assign one for me</p>
                            @if (RequestLift)
                            {
                                <p class="lift-description">Who do you want us to arrange a lift for?</p>
                                <MudSelect T="string" Variant="Variant.Outlined" @bind-Value="RequestGuestId" Style="margin-bottom: 10px; margin-top: 10px;">
                                    @foreach (var guest in Guests)
                                    {
                                        <MudSelectItem T="string" Value="guest.Id">@guest.Name</MudSelectItem>
                                    }
                                    <MudSelectItem Value="string.Empty">Someone else</MudSelectItem>
                                </MudSelect>
                                @if (RequestGuestId == "")
                                {
                                    <MudTextField @bind-Value="RequestName" Placeholder="John Smith" Variant="Variant.Outlined" Label="Name" Style="margin-bottom: 10px"/>
                                }
                            }
                            else
                            {
                                @if (LiftRequests.Any())
                                {
                                    <p class="lift-description">You've requested lifts for the following guests. They will be assigned for you.</p>
                                    <ul class="requested-lifts">
                                        @foreach (var request in LiftRequests)
                                        {
                                            <li>@request.Name <a @onclick="() => CancelRequest(request)">[Cancel]</a>.</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p class="lift-description">Add yourself to a list and we'll arrange it for you. Closes 3 days before.</p>
                                }
                            }
                        </div>
                        <Button OnClick="BookRequestLift">Book</Button>
                        @if (RequestLift)
                        {
                            <Button OnClick="CancelRequestLift">Cancel</Button>
                        }
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <LinkButton Url="/lifts/waiting">View Requests</LinkButton>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </Box>
            }
            @foreach (var lift in SharedLifts.OrderByDescending(l => l.AvailableSpaces))
            {
                var url = $"/lifts/{lift.Id}";
                <Box CustomCss="margin-top: 10px">
                    <div class="available-lift-container">
                        <div class="available-lift-description">
                            <p class="lift-heading">@lift.Name</p>
                            @if (SingleOption)
                            {
                                <p class="lift-description">@lift.AvailableSpaces spaces available.</p>
                            }
                            else
                            {
                                <p class="lift-description">@lift.Start.Location (@lift.Start.Time.ToString("HH:mm")) to @lift.End.Location (@lift.End.Time.ToString("HH:mm"). @lift.AvailableSpaces spaces.</p>
                            }
                        </div>
                        @if (lift.AvailableSpaces > 0)
                        {
                            <LinkButton Url="@url">Book</LinkButton>
                        }
                        else
                        {
                            <LinkButton Url="@url">View</LinkButton>
                        }
                    </div>
                </Box>
            }
        </div>
    </Section>
</CascadingValue>

@code {
    private IWebsiteConfig? Config { get; set; }
    private string? UserId { get; set; }
    private ClaimsPrincipal User { get; set; }
    private IEnumerable<ISharedLift> SharedLifts { get; set; } = [];
    private IEnumerable<ISharedLift> OwnLifts => SharedLifts.Where(lift => lift.UserId == UserId);
    private IEnumerable<SharedLiftWithBookings> BookedLifts { get; set; } = [];
    private IEnumerable<SharedLiftBooking> LiftRequests { get; set; } = [];
    private bool SingleOption => Config != null && Config.LiftSharingConfig.Presets.Count() == 1 && !Config.LiftSharingConfig.AllowCustomJourneys;
    
    private bool RequestLift { get; set; }
    private string RequestName { get; set; } = "";
    private string RequestGuestId { get; set; } = "";
    private IList<GuestWithId> Guests { get; set; } = [];
    
    protected override async Task OnInitializedAsync()
    {
        Config = await ConfigProvider.GetConfigAsync();
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;
        if (User.Identity is not { IsAuthenticated: true })
        {
            return;
        }
        
        UserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        SharedLifts = LiftSharingService.GetAllLifts();
        if (UserId != null)
        {
            BookedLifts = LiftSharingService.GetAllBookings(UserId);
        }
        
        var requests = LiftSharingService.GetAllLiftRequests();
        LiftRequests = requests.Where(r => r.UserId == UserId);
        
        Guests = AccountService.GetOwnGuests(User).Where(g => UserId != null && LiftSharingService.GetGuestBooking(UserId, g.Id) == null).ToList();
        RequestGuestId = Guests.FirstOrDefault()?.Id ?? "";
    }
    
    private void CancelRequest(SharedLiftBooking request)
    {
        LiftSharingService.RemoveBooking(request.UserId, request.Name, request.GuestId);
        LiftRequests = LiftSharingService.GetAllLiftRequests().Where(r => r.UserId == UserId);
        StateHasChanged();
        
        if (User.Identity is { IsAuthenticated: true })
        {
            AccountService.Log(User, AccountLogType.CancelLiftBooking, $"Cancel lift request for {request.Name}");
        }
    }

    private void BookRequestLift()
    {
        if (!RequestLift)
        {
            RequestLift = true;
        }
        else
        {
            if (RequestGuestId == "" && RequestName == "")
            {
                return;
            }
            
            LiftSharingService.RequestLift(UserId!, RequestName, RequestGuestId == "" ? null : RequestGuestId);
            LiftRequests = LiftSharingService.GetAllLiftRequests().Where(r => r.UserId == UserId);
            Guests = Guests.Where(g => UserId != null && LiftSharingService.GetGuestBooking(UserId, g.Id) == null).ToList();
            RequestGuestId = Guests.FirstOrDefault()?.Id ?? "";
            RequestLift = false;
        }

        StateHasChanged();
        
        if (User.Identity is { IsAuthenticated: true })
        {
            AccountService.Log(User, AccountLogType.BookLift, $"Request lift for {RequestName}");
        }
    }

    private void CancelRequestLift()
    {
        RequestLift = false;
        StateHasChanged();
    }
}