@using WeddingWebsite.Models.Theme

@if (Theme != null && Theme.BoxStyle != null) {
    <CascadingValue Value="Theme.BoxStyle.InnerTheme">
        @if (Theme.BoxStyle.Type == BoxType.Outlined) {
            <OutlinedBox ChildContent="@ChildContent" TopContent="@TopContent"/>
        } else if (Theme.BoxStyle.Type == BoxType.Filled) {
            <RoundedCornerBox ChildContent="@ChildContent" TopContent="@TopContent"/>
        } else {
            <p>Unsupported box type: @Theme.BoxStyle.Type</p>
        }
    </CascadingValue>
} else {
    <OutlinedBox ChildContent="@ChildContent" TopContent="@TopContent"/>
}

@code {
    [CascadingParameter]
    public SectionTheme? Theme { get; set; }
    
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public RenderFragment? TopContent { get; set; }
}
