@page "/Registry/{ItemId}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using WeddingWebsite.Components.Containers
@using WeddingWebsite.Components.Sections
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Components.WeddingComponents
@using WeddingWebsite.Core
@using WeddingWebsite.Data
@using WeddingWebsite.Models.Accounts
@using WeddingWebsite.Models.ConfigInterfaces
@using WeddingWebsite.Models.Registry
@using WeddingWebsite.Services
@using Section = WeddingWebsite.Components.Sections.Section

@inject IRegistryService RegistryService
@inject IWebsiteConfig Config
@inject IAccountService AccountService
@inject AuthenticationStateProvider AuthStateProvider
@inject IStringProvider StringProvider
@inject UserManager<Account> UserManager

<PageTitle>@StringProvider.PageTitle($"{StringProvider.Registry} - {Item?.GenericName}")</PageTitle>

@if (Item == null)
{
    <div class="not-found">
        <p>@StringProvider.ItemNotFound</p>
        <GrowingLinkButton Data=@(new Models.WebsiteElement.LinkButton(@StringProvider.BackToRegistry, "/registry"))/>
    </div>
    return;
}

<CascadingValue Value="Config.RegistryItemConfig.Theme">
    <div style="margin-bottom: 70px"></div>
    <Section>
        <BackLink Url="/registry" Text=@StringProvider.BackToRegistry/>
        <SideBySide HalfSpacing="10px">
            <LeftContent>
                <img src="@Item.ImageUrl" alt=""/>
            </LeftContent>
            <RightContent>
                <h1>@Item.Name</h1>
                <p class="description">@Item.Description</p>
                @if (Item.MaxQuantity != 1)
                {
                    <p>@StringProvider.QuantityClaimed(Item.QuantityClaimed, Item.MaxQuantity)</p>
                }
                
                @if (IsSharedAccount)
                {
                    <RegistryItemPageClaimSharedAccount ItemId="@ItemId" />
                }
                else
                {
                    <RegistryItemPageClaim ItemId="@ItemId"/>
                }
                
            </RightContent>
        </SideBySide>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <h1>Admin Section</h1>
                <h2>Claims</h2>
                @if (!Item.Claims.Any())
                {
                    <p>This item does not yet have any claims.</p>
                } 
                else if (RevealClaimsToAdmin)
                {
                    @foreach (var claim in Item.Claims)
                    {
                        var editUrl = $"/registry/{Item.Id}/claims/{claim.UserId}/edit";
                        <Box>
                            <p><b>User ID:</b> <a href="/admin/account/@claim.UserId">@claim.UserId</a></p>
                            <p><b>Fulfillment Method:</b> @(claim.FulfillmentMethod != null ? claim.FulfillmentMethod?.GetEnumDescription() : "Not selected")</p>
                            <p><b>Recipient:</b> @(claim.Recipient ?? "Not selected")</p>
                            <p><b>Claimed At:</b> @claim.ClaimedAt.ToString()</p>
                            <p><b>Completed At:</b> @(claim.CompletedAt?.ToString() ?? "Not completed")</p>
                            <p><b>Received At:</b> @(claim.ReceivedAt?.ToString() ?? "Not received")</p>
                            <p><b>Quantity:</b> @claim.Quantity</p>
                            <p style="margin-bottom: 5px"><b>Notes:</b> @claim.Notes</p>
                            <div class="buttons-container">
                                @if (claim.IsReceived)
                                {
                                    <Button OnClick="() => { RegistryService.MarkClaimAsNotReceived(Item.Id, claim.UserId); Item = RegistryService.GetRegistryItemById(ItemId); StateHasChanged(); }">Unmark as Received</Button>
                                }
                                else if (claim.IsCompleted)
                                {
                                    <Button OnClick="() => { RegistryService.MarkClaimAsReceived(Item.Id, claim.UserId); Item = RegistryService.GetRegistryItemById(ItemId); StateHasChanged(); }">Mark as Received</Button>
                                    <Button OnClick="() => { RegistryService.MarkClaimAsNotCompleted(Item.Id, claim.UserId); Item = RegistryService.GetRegistryItemById(ItemId); StateHasChanged(); }">Unmark as Completed</Button>
                                }
                                else
                                {
                                    <Button OnClick="() => { AdminMarkAsCompleted(claim); }">Mark as Completed</Button>
                                    <Button OnClick="() => { AdminUnclaim(claim); }">Remove Claim (cannot be undone)</Button>
                                }
                                <LinkButton Url=@editUrl>Edit</LinkButton>
                                @if (ErrorText != "")
                                {
                                    <p class="text-danger">@ErrorText</p>
                                }
                            </div>
                        </Box>
                    }
                }
                else
                {
                    <p class="claim-item-description">This section is capable of showing you detailed information about who has claimed this item, and how they are purchasing it. It's an opt-in basis, so you don't have to know who's buying what.</p>
                    <Button OnClick="() => { RevealClaimsToAdmin = true; StateHasChanged(); }">Reveal Claims</Button>
                }
                <h2>Edit Item Details</h2>
                <LinkButton Url="@EditUrl">Edit</LinkButton>
            </Authorized>
        </AuthorizeView>
    </Section>
</CascadingValue>


@code {
    [Parameter]
    public required string ItemId { get; set; }
    
    private Models.Registry.RegistryItem? Item { get; set; }
    private string? UserId { get; set; }
    private ClaimsPrincipal? LoggedInUser { get; set; }
    private bool IsSharedAccount { get; set; } = true;
    private string ErrorText { get; set; } = "";
    
    private bool RevealClaimsToAdmin { get; set; } = false;
    private string EditUrl => $"/registry/edit/{ItemId}";

    protected override async Task OnInitializedAsync()
    {
        Item = RegistryService.GetRegistryItemById(ItemId);
        
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        LoggedInUser = authState.User;
        if (LoggedInUser.Identity is { IsAuthenticated: true })
        {
            UserId = LoggedInUser.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            if (UserId != null)
            {
                var account = await UserManager.FindByIdAsync(UserId);
                if (account != null)
                {
                    IsSharedAccount = await UserManager.IsInRoleAsync(account, "Shared");
                }
            }
        }
    }
    
    private void AdminUnclaim(RegistryItemClaim claim)
    {
        if (Item == null) return;
        var result = RegistryService.UnclaimRegistryItem(Item.Id, claim.UserId);
        if (!result)
        {
            ErrorText = "Sorry, we were unable to remove this claim. Please try again later.";
            StateHasChanged();
            return;
        }
        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
        
        if (LoggedInUser != null)
        {
            AccountService.Log(LoggedInUser, AccountLogType.UnclaimRegistryItem, $"Admin unclaimed registry item: {Item?.GenericName}", claim.UserId);
        }
    }
    
    private void AdminMarkAsCompleted(RegistryItemClaim claim)
    {
        if (Item == null) return;
        RegistryService.MarkClaimAsCompleted(Item.Id, claim.UserId);
        Item = RegistryService.GetRegistryItemById(ItemId);
        StateHasChanged();
        
        if (LoggedInUser != null)
        {
            AccountService.Log(LoggedInUser, AccountLogType.CompleteRegistryItem, $"Admin marked as completed: {Item?.GenericName}", claim.UserId);
        }
    }
}
