@using WeddingWebsite.Components.Dialogs
@using WeddingWebsite.Models.Rsvp

<MudForm>
    @foreach (var question in Questions)
    {
        <div class="question">
            <h2>
                @question.Title
                @if (question.Required)
                {
                    <span class="required-asterisk">*</span>
                }
            </h2>
            <p>@question.Description</p>
            @if (question.Modals != null)
            {
                @foreach (var modal in question.Modals)
                {
                    <ModalButton Modal="modal"/>
                    <div style="margin-bottom: 10px"></div>
                }
            }
            
            @if (question.QuestionType is RsvpQuestionType.FreeText text)
            {
                var currentValue = Answers[text.DataColumn.Id];
                <InputText class="free-text-input" Value="@currentValue" ValueExpression="() => currentValue" ValueChanged="newVal => Answers[text.DataColumn.Id] = newVal" aria-required="@question.Required" placeholder="@text.Placeholder" />
            } else if (question.QuestionType is RsvpQuestionType.Select select)
            {
                var currentValue = Answers[select.DataColumn.Id];
                <MudRadioGroup T="string" Value="@currentValue" ValueChanged="newVal => Answers[select.DataColumn.Id] = newVal" Row="true" aria-required="@question.Required">
                    @foreach (var option in select.Options)
                    {
                        <MudRadio T="string" Value="option" Color="Color.Primary">@option</MudRadio>
                    }
                </MudRadioGroup>
            } else if (question.QuestionType is RsvpQuestionType.MultiSelect multi)
            {
                @foreach (var option in multi.Options)
                {
                    var currentValue = Answers[option.DataColumn.Id];
                    <MudCheckBox T="bool" Color="Color.Primary" Value="StringToBool(currentValue)" ValueChanged="newVal => Answers[option.DataColumn.Id] = BoolToString(newVal)">
                        @option.Option
                    </MudCheckBox>
                }
                <div style="margin-bottom: 10px"></div>
                @if (multi.OtherField != null)
                {
                    var currentValue = Answers[multi.OtherField.DataColumn.Id];
                    <InputText class="free-text-input" Value="@currentValue" ValueExpression="() => currentValue" ValueChanged="newVal => Answers[multi.OtherField.DataColumn.Id] = newVal" placeholder="@multi.OtherField.Placeholder" />
                }
            }
        </div>
    }
</MudForm>


<style>
    .mud-radio-group {
        flex-direction: column !important;
        align-items: start !important;
    }
    
    .mud-ripple-radio {
        margin-right: 5px;
    }
</style>

@code {
    [Parameter]
    public required IEnumerable<RsvpQuestion> Questions { get; set; }
    
    [Parameter]
    public required bool IsAttending { get; set; }
    
    private IList<string?> Answers { get; set; } = [];

    protected override void OnInitialized()
    {
        for (int i = 0; i <= 20; i++)
        {
            Answers.Add(null);
        }
    }

    private static string BoolToString(bool value)
    {
        return value ? "Y" : "";
    }

    private static bool StringToBool(string? value)
    {
        return value != null && value.ToLower().Contains("y");
    }
}
