@using WeddingWebsite.Components.Dialogs
@using WeddingWebsite.Components.Elements
@using WeddingWebsite.Models.Rsvp
@using WeddingWebsite.Services

@inject IRsvpService RsvpService

<MudForm>
    @foreach (var question in Questions.Questions)
    {
        <div class="question">
            <h2>
                @question.Title
                @if (question.Required)
                {
                    <span class="required-asterisk">*</span>
                }
            </h2>
            @if (question.Description != null)
            {
                <p>@question.Description</p>
            }
            @if (question.Modals != null)
            {
                @foreach (var modal in question.Modals)
                {
                    <ModalButton Modal="modal"/>
                    <div style="margin-bottom: 10px"></div>
                }
            }
            
            @if (question.QuestionType is RsvpQuestionType.FreeText text)
            {
                var currentValue = Answers[text.DataColumn.Id];
                <InputText class="free-text-input" Value="@currentValue" ValueExpression="() => currentValue" ValueChanged="newVal => Answers[text.DataColumn.Id] = newVal" aria-required="@question.Required" placeholder="@text.Placeholder" />
            } else if (question.QuestionType is RsvpQuestionType.Select select)
            {
                var currentValue = Answers[select.DataColumn.Id];
                <MudRadioGroup T="string" Value="@currentValue" ValueChanged="newVal => Answers[select.DataColumn.Id] = newVal" Row="true" aria-required="@question.Required">
                    @foreach (var option in select.Options)
                    {
                        <MudRadio T="string" Value="option" Color="Color.Primary">@option</MudRadio>
                    }
                </MudRadioGroup>
            } else if (question.QuestionType is RsvpQuestionType.MultiSelect multi)
            {
                @foreach (var option in multi.Options)
                {
                    var currentValue = Answers[option.DataColumn.Id];
                    <MudCheckBox T="bool" Color="Color.Primary" Value="StringToBool(currentValue)" ValueChanged="newVal => Answers[option.DataColumn.Id] = BoolToString(newVal)">
                        @option.Option
                    </MudCheckBox>
                }
                <div style="margin-bottom: 10px"></div>
                @if (multi.OtherField != null)
                {
                    var currentValue = Answers[multi.OtherField.DataColumn.Id];
                    <InputText class="free-text-input" Value="@currentValue" ValueExpression="() => currentValue" ValueChanged="newVal => Answers[multi.OtherField.DataColumn.Id] = newVal" placeholder="@multi.OtherField.Placeholder" />
                }
            }
        </div>
    }
    
    <div style="margin-bottom: 15px;"></div>
    @if (!ConfirmSubmit)
    {
        <Button OnClick="FirstSubmitPress">Submit</Button>
    }
    else
    {
        <h2>Are you sure?</h2>
        <p>Take a moment to double check all of your answers. After submitting, you will not be able to change them yourself.</p>
        <Button OnClick="Submit">Submit</Button>
    }
    
    @if (ValidationIssues.Any())
    {
        <ul class="validation-issues">
            @foreach (var issue in ValidationIssues)
            {
                <li><p class="validation-issue">@issue</p></li>
            }
        </ul>
    }
    
</MudForm>

@if (Success == false)
{
    <p class="text-red">Something went wrong.</p>
}


<style>
    .mud-radio-group {
        flex-direction: column !important;
        align-items: start !important;
    }
    
    .mud-ripple-radio {
        margin-right: 5px;
    }
</style>

@code {
    [Parameter]
    public required string GuestId { get; set; }
    
    [Parameter]
    public required RsvpQuestions Questions { get; set; }
    
    [Parameter]
    public required bool IsAttending { get; set; }
    
    private IList<string?> Answers { get; set; } = [];
    private bool ConfirmSubmit { get; set; } = false;
    private bool? Success { get; set; } = null;
    private IEnumerable<string> ValidationIssues { get; set; } = [];

    protected override void OnInitialized()
    {
        for (int i = 0; i <= 20; i++)
        {
            Answers.Add(null);
        }
    }

    private static string BoolToString(bool value)
    {
        return value ? "Y" : "";
    }

    private static bool StringToBool(string? value)
    {
        return value != null && value.ToLower().Contains("y");
    }

    private void FirstSubmitPress()
    {
        ValidationIssues = Questions.Validate(Answers.ToList());
        StateHasChanged();
        if (ValidationIssues.Any()) return;
        ConfirmSubmit = true;
        StateHasChanged();
    }

    private void Submit()
    {
        ValidationIssues = Questions.Validate(Answers.ToList());
        if (ValidationIssues.Any())
        {
            ConfirmSubmit = false;
            StateHasChanged();
            return;
        }
        Success = RsvpService.SubmitRsvp(GuestId, IsAttending, Answers.ToList());
    }
}
