@using WeddingWebsite.Models.Rsvp

<MudForm>
    @foreach (var question in Questions)
    {
        <div class="question">
            <h2>
                @question.Title
                @if (question.Required)
                {
                    <span class="required-asterisk">*</span>
                }
            </h2>
            <p>@question.Description</p>
            
            @if (question.QuestionType is RsvpQuestionType.FreeText text)
            {
                var currentValue = Answers[text.DataColumn.Id-1];
                <InputText class="free-text-input" Value="@currentValue" ValueExpression="() => currentValue" ValueChanged="newVal => Answers[text.DataColumn.Id - 1] = newVal" aria-required="@question.Required" placeholder="@text.Placeholder" />
            } else if (question.QuestionType is RsvpQuestionType.Select select)
            {
                var currentValue = Answers[select.DataColumn.Id-1];
                <MudRadioGroup T="string" Value="@currentValue" ValueChanged="newVal => Answers[select.DataColumn.Id - 1] = newVal" Row="true" aria-required="@question.Required">
                    @foreach (var option in select.Options)
                    {
                        <MudRadio T="string" Value="option" Color="Color.Primary">@option</MudRadio>
                    }
                </MudRadioGroup>
            }
        </div>
    }
</MudForm>


<style>
    .mud-radio-group {
        flex-direction: column !important;
        align-items: start !important;
    }
    
    .mud-ripple-radio {
        margin-right: 5px;
    }
</style>

@code {
    [Parameter]
    public required IEnumerable<RsvpQuestion> Questions { get; set; }
    
    [Parameter]
    public required bool IsAttending { get; set; }
    
    private IList<string?> Answers { get; set; } = [];

    protected override void OnInitialized()
    {
        for (int i = 0; i <= 20; i++)
        {
            Answers.Add(null);
        }
    }
}
